body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #4b382a;
}

.sidebar {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-right: 2px solid #6655ff;
}

.nav-button {
  background-color: #473afa;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.nav-button:hover {
  background-color: #0a0097;
}

.nav-button.active {
  background-color: #0a0097;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

.sales-table {
  width: 100%;
  border-collapse: collapse;
}

.sales-table thead {
  background-color: #F3E4CF;
}

.sales-table th,
.sales-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.sales-table th {
  color: #704D32;
  font-size: 16px;
}

.sales-table tbody tr:last-child td {
  border-bottom: none;
}

.sales-table tfoot {
  background-color: #FFFFFF;
}

.sales-table tfoot .total {
  text-align: right;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #704D32;
}

button.btn-danger {
  background-color: #e63946;
  border: none;
}

button.btn-danger:hover {
  background-color: #d62828;
}

.checkout-btn {
  background-color: #a04932;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.checkout-btn:hover {
  background-color: #8e3e29;
}

.sidebar a.active {
  background-color: #0a0097;
  color: white;
}
.fs-4 {
  color:#0a0097;
}