.nav-button {
  background-color:#473afa;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for scaling */
  margin-bottom: 10px;
}

.nav-button:hover {
  background-color: #0a0097;
  transform: scale(1.05); /* Slight scaling effect */
}

.nav-button.active {
  background-color: #0a0097;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #4b382a;
}

.sidebar {
  background-color: rgb(255, 255, 255); /* Semi-transparent background */;
  padding: 20px;
  border-right: 2px solid #6655ff;
  min-height: 100vh;
}

.sidebar-title {
  color: #6655ff;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn-danger {
  background-color: #a04932;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for scaling */
}

.btn-danger:hover {
  background-color: #8e3e29;
  transform: scale(1.05); /* Slight scaling effect */
}

.product-card {
  background-color: #fff;
  border: 1px solid #f0e6d6;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Added transition for hover effects */
}

.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding shadow effect */
  transform: scale(1.03); /* Slight scaling effect on hover */
}

.card-title {
  color: #6c4f3d;
}

.card-body {
  padding: 15px;
}

.card-text {
  font-size: 14px;
  color: #333;
}

.card .btn-warning {
  background-color: #473afa;
  border-color: #473afa;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card .btn-warning:hover {
  background-color: #0a0097;
}

button.btn-primary {
  background-color: #473afa;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for scaling */
}

button.btn-primary:hover {
  background-color: #0a0097;
  transform: scale(1.05); /* Slight scaling effect */
}

button.btn-danger {
  background-color: #e63946;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for scaling */
}

button.btn-danger:hover {
  background-color: #d62828;
  transform: scale(1.05); /* Slight scaling effect */
}
.fs-4 {
  color: #0a0097;
}